{% extends 'base.html' %}
{% block head %}
    <title>Professional Portfolio - BRH</title>
{% endblock %}

{% block content %}
                <div id="main"style="padding-left: 15em !important; padding-right: 15em !important; padding-bottom: 60em !important;">
                    <p>
                        A highly motivated bioinformatics graduate with a strong interest in pursuing a career in data science,
                        machine learning and software development in either industry or research.
                    </p>

                    <ul class="actions">
                        <li><a href="/portfolio" class="button primary">View my portfolio</a></li>
                    </ul>

                </div>
{% endblock %}
