{% extends 'base.html' %}
{% block head %}
    <title>Professional Portfolio - BRH</title>
{% endblock %}

{% block content %}
    <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Professional Portfolio</h1>
                </header>
                <header id="sub_header">
                    <h1>Written Work</h1>
                </header>
                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="/static/images/written_work/bsc_diss/bsc_diss_tile.jpg" alt="" />
                        </span>
                        <a href="/ww_bsc_diss">
                            <h2>BSc Dissertation</h2>
                            <div class="content">
                                <p>Nutrient deficiencies common within non-omnivorous diets and their association with
                                    depression: A systematic review and meta-analysis</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="image">
                            <img src="/static/images/written_work/quorn_review/quorn_tile.png" alt="" />
                        </span>
                        <a href="/ww_quorn">
                            <h2>Quorn Review</h2>
                            <div class="content">
                                <p>Analysis of Quorn Mycoprotein Derived Products from Petri Dish to Plate</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="image">
                            <img src="/static/images/written_work/habit_formation/habit_tile.jpg" alt="" />
                        </span>
                        <a href="/ww_habit">
                            <h2>Habits and Behaviour</h2>
                            <div class="content">
                                <p>Habit Formation in Exercise and Eating Behaviours for Young Children</p>
                            </div>
                        </a>
                    </article>
                    <article class="style4">
                        <span class="image">
                            <img src="/static/images/written_work/obesity_case_study/obesity_tile.jpg" alt="" />
                        </span>
                        <a href="/ww_obesity">
                            <h2> Obesity case study</h2>
                            <div class="content">
                                <p>Obesity & Energy Homeostasis Case study: Critical analysis & evaluation</p>
                            </div>
                        </a>
                    </article>
                </section>
                <header id="sub_header">
                    <h1>Python Projects</h1>
                </header><br>
                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="/static/images/pic01.jpg" alt="" />
                        </span>
                        <a href="/search_builder">
                            <h2>PubScraper</h2>
                            <div class="content">
                                <p>PubScraper allows the user to build a search string from keywords, generate the URL via PubMed then
                                    scrape all of the results to be displayed within interactive tables.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="image">
                            <img src="/static/images/pic02.jpg" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Machine Learning</h2>
                            <div class="content">
                                <p></p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="image">
                            <img src="/static/images/pic03.jpg" alt="" />
                        </span>
                        <a href="/football">
                            <h2>Football Viz</h2>
                            <div class="content">
                                <p></p>
                            </div>
                        </a>
                    </article>
                </section>
                 <header id="sub_header">
                    <h1>R Projects</h1>
                </header>
                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="/static/images/pic01.jpg" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>PubScraper</h2>
                            <div class="content">
                                <p></p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="image">
                            <img src="/static/images/pic02.jpg" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Lorem</h2>
                            <div class="content">
                                <p></p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="image">
                            <img src="/static/images/pic03.jpg" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Feugiat</h2>
                            <div class="content">
                                <p></p>
                            </div>
                        </a>
                    </article>
                </section>
            </div>
        </div>
{% endblock %}
