{% extends 'base.html' %}

{% block head %}
    <title>BSc Dissertation</title>
{% endblock %}

{% block content %}
    <!-- Main -->
        <div id="main">
						<div class="inner">
							<h1><strong>Nutrient deficiencies common within non-omnivorous diets and their association
                                with depression: A systematic review and meta-analysis</strong></h1>
							<span class="image main"><img src="/static/images/written_work/bsc_diss/bsc_diss_header.jpg" alt="" /></span>
                            <embed src="/static/pdfs/bsc_diss.pdf" width="1350" height="1375">
                        </div>
        </div>

{% endblock %}