{% extends 'base.html' %}

{% block head %}
    <title>Habit Formation in Exercise and Eating Behaviours for Young Children</title>
{% endblock %}

{% block content %}
    <!-- Main -->
        <div id="main">
						<div class="inner">
							<h1><strong>Habit Formation in Exercise and Eating Behaviours for Young Children</strong></h1>
							<span class="image main"><img src="/static/images/written_work/habit_formation/habit_header.jpg" alt="" /></span>
                            <embed src="/static/pdfs/Habit_Formation.pdf" width="1350" height="1375">
                        </div>
        </div>

{% endblock %}