{% extends 'base.html' %}

{% block head %}
    <title>Obesity case study</title>
{% endblock %}

{% block content %}
    <!-- Main -->
        <div id="main">
						<div class="inner">
							<h1>Project: <strong>Obesity & Energy Homeostasis Case study: Critical analysis & evaluation</strong></h1>
							<span class="image main"><img src="/static/images/written_work/obesity_case_study/obesity_cs_header.jpg" alt="" /></span>

                            <div id="toc_container">
                                <p class="toc_title">Contents</p>
                                <ul class="toc_list">
                                  <li><a href="#obesity_ww_background">1 Background</a></li>
                                <li><a href="#obesity_ww_the_participant">2 The Participant</a></li>
                                <li><a href="#obesity_ww_energy_expenditure">3 Energy Expenditure</a></li>
                                <li><a href="#obesity_ww_dietary_analysis">4 Dietary Analysis</a>
                                  <ul>
                                    <li><a href="#obesity_ww_energy">4.1 Energy</a></li>
                                    <li><a href="#obesity_ww_protein">4.2 Protein</a></li>
                                    <li><a href="#obesity_ww_fat">4.3 Fat</a></li>
                                    <li><a href="#obesity_ww_carbohydrate">4.4 Carbohydrate</a></li>
                                    <li><a href="#obesity_ww_minerals">4.5 Minerals</a></li>
                                    <li><a href="#obesity_ww_vitamins">4.6 Vitamins</a></li>
                                    <li><a href="#obesity_ww_alcohol_caffeine">4.7 Alcohol & Caffeine</a></li>
                                  </ul>
                                </li>
                                </ul>
                            </div>
							<h2 id="obesity_ww_background">Background</h2>
                            <p>
                                Obesity is a worldwide health epidemic with prevalence rates ever-increasing within Western societies.
                                The number of adults that were overweight or obese in the United Kingdom was over half the population in 2017,
                                with higher incidence in males compared to females (NHS, 2017). A trend of the current data shows no sign of slowing down,
                                with rates that may reach close to 70% over the next 10 – 15 years (Figure 1).
                                The prevalence of morbid obesity in the UK also appears to be following the same path,
                                the rates of morbid obesity in England alone were 3% in 2018 and are projected to rise to 8% by the year 2035,
                                putting a substantial financial burden on the health system (Keaver et al., 2018).
                            </p>
                            <span class="image main"><img src="/static/images/written_work/obesity_case_study/obesity_cs_fig1.PNG" alt="" /></span>
                            <p><strong>Figure 1.</strong> Prevalence of overweight and obese adults in England from 1993 to 2017, grouped by sex.
                                A forecast of the trends up until the year 2030 are also displayed (NHS, 2017).
                            </p>
						</div>
					</div>

{% endblock %}