{% extends 'base.html' %}

{% block head %}
    <title>Obesity case study</title>
{% endblock %}

{% block content %}
    <!-- Main -->
        <div id="main">
						<div class="inner">
							<h1><strong>Obesity & Energy Homeostasis Case study: Critical analysis & evaluation</strong></h1>
							<span class="image main"><img src="/static/images/written_work/obesity_case_study/obesity_cs_header.jpg" alt="" /></span>
                            <embed src="/static/pdfs/Obesity_case_study.pdf" width="1350" height="1375">
                            <br><br><br><h2>Supplementary Material 1</h2>
                            <embed src="/static/pdfs/Obesity_case_study_supp_mat_1.pdf" width="1350" height="1375">
                        </div>
        </div>

{% endblock %}