{% extends 'base.html' %}

{% block head %}
    <title>Quorn Review</title>
{% endblock %}

{% block content %}
    <!-- Main -->
        <div id="main">
						<div class="inner">
							<h1><strong>Analysis of Quorn Mycoprotein Derived Products from Petri Dish to Plate</strong></h1>
							<span class="image main"><img src="/static/images/written_work/quorn_review/quorn.jpg" alt="" /></span>
                            <embed src="/static/pdfs/Analysis_quorn.pdf" width="1350" height="1375">
                        </div>
        </div>

{% endblock %}